body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  max-width: 1440px;
}

.body--main-image::before {
  content: "";
  position: absolute;
  margin-left: 720px;
  background: url("/source/images/index-catbackground-desktop@2x.jpg");
  width: 720px;
  height: 694px;
  top: 0%;
  left: 50%;
  z-index: 2;
}

.body--main-image::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(90deg, #ffffff 50%, $primary-color 50%);
  top: 0;
  left: -50%;
  z-index: 1;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
