@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-display: swap;
    src: $font-src;
  }
}


@mixin primary-button {
  background: #68b738;
  color: #ffffff;
  text-decoration: none;
}


@mixin placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29.64px;
  text-align: left;
  min-height: 56px;
}

@mixin list-style {
  list-style-type: none;
  padding: 0;
}


$primary-color: #68b738;

@mixin position {
  content: "";
  position: absolute;
}

@mixin list-style {
  list-style-type: none;
}


$primary-color: #68b738;

$tablet: 768px;
$desktop: 1440px;

