.additional-products__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.additional-products__name {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #222222;
}

.additional-products__box {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  color: #444444;
}

.additional-products__button {
  @include primary-button;
}

.additional-products__benefit {
  background: #68b738;
}
