.example {
  background-color: #eaeaea;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.example__description {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
}

.example__value {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.example__text {
  font-family: $primary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
}

.example__text-result {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.example__text-sum {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.slider-button {
  background-image: url("../../icons/stack.svg#curtain");
  width: 4px;
  height: 512px;
}
