.example {
  background-color: #eaeaea;
  display: block;

  @media (min-width: 1440px) {
    display: flex;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  width: 195px;
  height: 40px;

  @media (min-width: 768px) {
    width: 325px;
    height: 60px;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  width: 280px;
  height: 108px;

  @media (min-width: 768px) {
    width: 708px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: 1440px) {
    width: 436px;
    height: 96px;
  }
}

.example__value {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.example__text {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__text-result {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__text-sum {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
  }
}

