
.footer__container {
  display: flex;
}

.footer__logo-link {
  background-image: url("../../icons/stack.svg#logo-text");
  width: 113px;
  height: 20px;

  @media (min-width: 768px) {
    width: 128px;
    height: 24px;
  }
}

.footer__logo-link:hover {
  filter: opacity(80%);
}

.footer__logo-link:active {
  filter: opacity(50%);
}

.footer__social-list {
  @include list-style;
  width: 132px;
  height: 22px;
}

.footer__social-item.vkontakte {
  width: 28px;
  height: 22px;
  background-image: url("../../icons/stack.svg#vkontakte-icon");
}

.footer__social-item.youtube {
  width: 28px;
  height: 22px;
  background-image: url("../../icons/stack.svg#youtube-icon");
}


.footer__social-item.telegramm {
  width: 28px;
  height: 22px;
  background-image: url("../../icons/stack.svg#telegram-icon");
}


.footer__logo-academy {
  background-image: url("../../icons/stack.svg#html-logo-footer");
  width: 168px;
  height: 37px;
}

.footer__social-item.vkontakte:hover {
  background-image: url("../../icons/stack.svg#vkontakte-hover");
}

.footer__social-item.youtube:hover {
  background-image: url("../../icons/stack.svg#youtube-hover");
}


.footer__social-item.telegramm:hover {
  background-image: url("../../icons/stack.svg#telegram-hover");
}

.footer__social-item.vkontakte:active,
.footer__social-item.youtube:active,
.footer__social-item.telegramm:active {
  filter: opacity(0.3);
}
