

.hero {

  font-family: "Oswald", sans-serif;
}


/*
.gradient {
	display: inline-block;
	position: relative;
	line-height: 0;
}
.gradient:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	background-image: linear-gradient(to left, #11de93, #0e7ad6);
	opacity: 0.8;
} */


/*
  @media (min-width: 768px) {
    background-image: none;
    background-color: #ffffff;
  }

  @media (min-width: 1440px) {
    background-image:
      linear-gradient(to right,
      #ffffff 50%,
      rgba(104, 183, 56, 0.85)
      50%), url("/source/images/index-catbackground-desktop@2x.png");

  }
}
*/

.hero__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;

  @media (min-width: 768px) {
    color: #000000;
  }
}

.hero__description {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.hero__button {
  @include primary-button;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

