.programmes {
  font-family: $primary-font;
}

.programmes__type {
  background-color: #f2f2f2;
  width: 280px;
  height: 266px;
}

.programmes__type-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;
}

.programmes__type-description {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.programmes__type-link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}


.cat-slim-image {

  background: #68b738;
  position: relative;
  width: 50px;
  height: 53px;
  border-radius: 50%;

  @media (min-width: 768px) {
    width: 200px;
    height: 200px;

    @media (min-width: 1440px) {
      width: 100px;
      height: 100px;
    }
  }
}

.cat-slim-image::after {
  content: "";
  background: url("../../icons/stack.svg#cat-slim-tablet") no-repeat 0 0;
  width: 36px;
  height: 50px;
  position: absolute;

  @media (min-width: 768px) {
    width: 140px;
    height: 194px;
    left: 25px;
    top: -10px;
  }

  @media (min-width: 1440px) {
    width: 70px;
    height: 97px;
    left: 25px;
    top: -10px;
  }
}


.cat-mass-image {

  background: #68b738;
  position: relative;
  width: 67px;
  height: 50px;
  border-radius: 50%;

  @media (min-width: 768px) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: 1440px) {
    width: 100px;
    height: 100px;
  }
}

.cat-mass-image::after {
  content: "";
  background: url("../../icons/stack.svg#cat-mass-mobile") no-repeat -15px 0;
  width: 67px;
  height: 28px;
  position: absolute;

  @media (min-width: 768px) {
    width: 268px;
    height: 112px;
  }

  @media (min-width: 1440px) {
    width: 134px;
    height: 56px;
  }
}
