.slider-button {
  background-image: url("../../icons/stack.svg#curtain-default");
  width: 2px;
  height: 512px;
}

.slider-button:hover,
.slider-button:focus {
  background-image: url("../../icons/stack.svg#curtain-hover");
}

.slider-button:active {
  filter: opacity(50%);
}
